html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

/* NAV */
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

.menu a {
  margin-left: 25px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* SECTIONS */
.section {
  min-height: 100vh;
  padding: 80px;
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding: 80px;
}

.hero img {
  width: 250px;
  border-radius: 50%;
  border: 3px solid cyan;
}

.hero span {
  color: cyan;
}

/* BUTTONS */
.buttons a {
  margin: 10px;
  padding: 10px 20px;
  text-decoration: none;
}

.btn { background: cyan; color: black; }
.btn2 { border: 1px solid cyan; color: cyan; }
.btn3 { background: white; color: black; }

/* GLASS */
.glass {
  background: rgba(255,255,255,0.05);
  border-radius: 10px;
}

/* PROJECTS */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  gap: 20px;
}

.card {
  background: #1e293b;
  padding: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
}

.modal-box {
  background: #111;
  margin: 15% auto;
  padding: 20px;
  width: 300px;
}
